.container {
  width: min(80em, 95%);
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .headings {
    display: flex;
    flex-direction: column;
    align-items: center;

    .heading {
      font-family: var(--secondary-font);
      font-size: 2.8em;
      line-height: 1.3em;
      text-align: center;
    }
  }

  .desc {
    margin-top: 1em;
    font-size: 1.5em;
  }

  .images-container {
    --relative-top: -5em;
    margin-top: calc(10em - var(--relative-top));
    display: flex;
    justify-content: center;
    max-width: calc(100% - 3em);

    .img-content-container {
      display: flex;
      position: relative;
      top: var(--relative-top);
      justify-content: center;
      max-width: 100%;

      .img-content {
        width: 20em;
        max-width: 100%;
        display: flex;
        box-shadow: 0 0 1em 0.5em #3c52e6;
        transition: scale 0.4s cubic-bezier(0.25, 0.1, 0.25, 1);

        img {
          width: 100%;
          z-index: 1;
        }
      }

      .img-content:nth-child(2) {
        scale: 1.45;
        z-index: 2;
      }

      &:hover .img-content:not(:hover) {
        scale: 1;
      }

      &:hover .img-content:hover {
        scale: 1.45;
        z-index: 10;
      }
    }
  }
}
