.container {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0em !important;
  --side-offset: 7em;

  @media screen and (max-width: 1300px) {
    --side-offset: 3em;
  }

  
  @media screen and (max-width: 768px) {
    --side-offset: 2em;
  }
}

.container::before {
  content: "";
  position: absolute;
  inset: 0;
  background: radial-gradient(
      circle at center 10%,
      rgba(0, 0, 0, 0.2) 30%,
      var(--body-clr) 70%
    ),
    url("../../assets/images/home_bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.8;
  z-index: -1;
}

.nav-container {
  /* border: 1px solid red; */

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3em 0 2em;
  margin: 0 var(--side-offset);
  position: relative;
  white-space: nowrap;
  gap: 2em;
  overflow: visible;


  @media screen and (max-width: 768px) {
    margin: 0;
    padding-inline: 1em !important;
  }
}

.nav-container::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.2em;
  background: linear-gradient(to right, #06091d, #3f4fb5, #06091d);
  z-index: -1;
}

.left {
  display: flex;
  align-items: center;

  img {
    cursor: pointer;
    width: 7em;
    user-select: none;
  }
}

.middle {
  display: flex;
  gap: 3em;
  font-size: 1.1em;
  overflow: hidden;
  /* flex: 1; */
}

.middle .nav-item {
  text-decoration: none;
  color: white;
  transition: color 0.2s ease-in-out;

  &:hover {
    color: #fba518;
  }
}

.right {
}

.hamburger {
  display: none;
}

@media screen and (max-width: 1100px) {
  .nav-container {
    align-items: center;
    padding: 1em 0 1.5em;
  }
  .left {
    flex: 1;
  }

  .middle {
    position: fixed;
    flex-direction: column;
    top: 0;
    right: 0;
    left: 0;
    gap: 0;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(.7em);
    z-index: 99999;
    border-radius: 0.5em;
    overflow: hidden;
    align-items: flex-start;
    margin: 1em;

    /* display: none; */


    box-shadow: 0 0 1em 1px rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.181);

    .nav-item {
      padding: 1em 2em;
      border-bottom: 1px solid rgba(255, 255, 255, 0.5);
      width: 100%;

      &:last-child {
        border-bottom: none;
      }
    }
  }

  .hamburger {

    display: flex;
    height: 100%;
    overflow: hidden;
    cursor: pointer;

    img {
      cursor: pointer;
      width: 2em;
      user-select: none;
    }
  }
}


@media screen and (max-width: 768px) {
 
  .right {
    display: none;
  }

}