*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-font: "Darker Grotesque", sans-serif;
  --secondary-font: "Bayon", sans-serif;
  --body-clr: #050815;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

body {
  font-family: var(--primary-font);
  background: var(--body-clr);
  color: white;
  overflow-x: hidden;
}
